aniso8601==8.0.0
blis==0.2.4
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cymem==2.0.2
Flask==1.1.1
Flask-RESTful==0.3.7
google-api-python-client==1.7.11
google-auth==1.7.1
google-auth-httplib2==0.0.3
gunicorn==20.0.4
httplib2==0.14.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.15.3
plac==0.9.6
preshed==2.0.1
profanity-check==1.0.3
psycopg2-binary==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pytz==2019.3
requests==2.22.0
rsa==4.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
srsly==0.0.7
thinc==7.0.8
tqdm==4.32.2
uritemplate==3.0.0
urllib3==1.25.8
virtualenv==16.7.7
wasabi==0.2.2
Werkzeug==0.16.0
